.main-div {
    margin: auto;
    width: 50%;
}
.pictures-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Shadows Into Light';
}
.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.image {
    width: 300px;
    height: 300px !important;
}