.contact-description {
    font-family: 'Quicksand';
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    padding-bottom: 20px;
}
.contact-header {
    font-size: 50px;
    font-family: 'Shadows Into Light';
    margin-left: 50px;
    margin-top: 20px;
}
.contact-subheader {
    font-family: 'Shadows Into Light';
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
}
.contact-color {
    color: #BC8F8F;
}
.subheader-desc {
    font-family: 'Quicksand';
    margin-top: 10px;
    font-size: 15px;
    margin-left: 100px;
  }