.background {
    background-image: url("../pictures/cv.jpg");
    height: 900px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-theme {
    text-align: center;
    background-color: rgb(188,143,143,0.8);
    padding-bottom: 15px;
}
.theme-text {
    font-family: Brush Script MT, Brush Script Std, cursive;
    display: contents;
    font-size: 38px;
    margin-top: 20px;
    margin-right: 50px;
    color: snow;
}
.theme-button {
    margin-left: 20px !important;
    margin-top: 20px !important;
}
.button-color {
    color: #BC8F8F;
}
.cv {
    color: #BC8F8F;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    margin-left:100px;
    text-align: right;
    margin-top: 300px;
    margin-right: 65px
}
.name {
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-top: 30px;
    margin-left: 50px;
    text-align: right;
    font-size: 40px;
    margin-right: 65px;
    color: snow;
}
.background-black {
    background-color: black;
    height: 900px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-white {
    background-color: whitesmoke;
    height: 900px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}