.resume-header {
    font-size: 50px;
    font-family: 'Shadows Into Light';
    margin-left: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.field-header {
    margin-top: 50px;
    font-family: 'Shadows Into Light';
}
.field-year {
    margin-top: 50px;
    margin-left: 15px;
    font-family: 'Shadows Into Light';
}
.resume-notes {
    margin-top: -30px;
    font-family: 'Quicksand';
    font-size: 15px;
}
.subheader {
    font-size: 20px;
}
.pointer {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 15px;
    font-family: 'Shadows Into Light';
}
.interests {
    font-size: 20px;
    margin-left: 80px;
    margin-top: -30px;
    font-family: 'Quicksand';
}
.dot-skills {
    color: black;
    background-color:#BC8F8F !important ;
}
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
    .child {
        width: 100%;
        text-align: center;
    }
    .field-year {
        font-size: 70px;
    }
    .field-header {
        margin-left: 150px;
        font-size: 40px !important;
    }
    .resume-notes {
        margin-left: 150px;
    }
    .dot-skills {
        height: 130px !important;
        width: 130px !important;
        font-size: 30px !important;
        padding-top: 55px !important;
        margin-right: 1px !important;
    }
    .aid-resume {
        height: 130px !important;
        width: 130px !important;
        font-size: 30px !important;
        padding-top: 55px !important;
        margin-right: 1px !important;
        margin-top: 10px !important;
    }
    .fh-interests {
        margin-left: 30px !important;
    }
    .menu-visible {
        display: none;
    }
}
@media screen and (min-width: 501px) {
    .child {
        width: 100%;
        text-align: center;
    }
    .aid-resume {
        height: 130px !important;
        width: 130px !important;
        margin-right: 1px !important;
        font-size: 29px !important;
        margin-top: 10px !important;
        padding-top: 47px !important;
    }
    .field-year {
        font-size: 90px;
    }
    .field-header {
        margin-left: 200px;
        font-size: 45px;
    }
    .resume-notes {
        margin-left: 200px;
    }
    .dot-skills {
        height: 130px !important;
        width: 130px !important;
        margin-right: 1px !important;
        font-size: 29px !important;
        padding-top: 45px;
    }
    .fh-interests {
        margin-left: 0px !important;
    }
    .button-visible {
        display: none;
    }
}
@media screen and (min-width: 850px){
    .aid-resume {
        height: 150px !important;
        width: 180px !important;
        margin-top: 35px;
        font-size: 50px;
    }
    .field-year {
        font-size: 100px;
    }
    .field-header {
        margin-left: 200px;
        font-size: 50px;
    }
    .resume-notes {
        margin-left: 200px;
    }
    .dot-skills {
        font-size: 40px !important;
        margin-top: 30px !important;
        width: 150px !important;
        padding-top: 45px;
    }
    .aid-resume {
        height: 170px !important;
        width: 175px !important;
        border-radius: 50% !important;
        margin-top: 10px !important;
        font-size: 40px !important;
        font-family: 'Shadows Into Light' !important;
        padding-top: 65px !important;
    }
    .resume-dot {
        margin: auto;
        width: 60%;
    }
    .button-visible {
        display: none;
    }
}
