.add-button {
    margin-left: 30px !important;
}
.main-div {
    margin: auto;
    width: 50%;
}
.todo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Shadows Into Light';
}
.todo-header {
    text-align: center;
    color: #BC8F8F;
    margin-top: 40px;
}
.add-todo {
    color: grey;
}
.todo-input {
    margin-bottom: 20px;
}